<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
  <title>Chat</title>
  <link rel="stylesheet" href="/styles/chat.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <%- include('partials/header') %>
  <div class="chat-container">
    <aside class="secondary-sidebar">
      <h2>Chats</h2>
      <ul class="conversation-list">
        <li class="active">
        </li>
      </ul>
      <div class="sidebar-footer">
        <button type="button" class="home-button" onclick="location.href='/'">
          <i class="ri-home-line"></i>
        </button>
      </div>
    </aside>
    <div class="chat-area">
      <div class="default-view active">
        <i class="ri-chat-3-line"></i>
        <p>Select a chat</p>
      </div>
      <div class="conversation-chat" id="conversation-1">
        <div class="chat-header">
          <button type="button" class="back-button">
            <i class="ri-arrow-left-line"></i>
          </button>
          <div class="user">
            <img src="/Pictures/profile-default.webp" alt="Someone" />
            <div class="name">username</div>
          </div>
          <div class="actions">
            <button type="button">
              <i class="ri-information-line"></i>
            </button>
          </div>
        </div>
        <div class="messages">
          <div class="message-group">
            <div class="message-container sender">
              <img class="message-profile" src="/Pictures/profile-default.webp" alt="Sender Profile" />
              <div class="message-content">
                <p>message 1</p>
                <div class="message-time">12:30</div>
              </div>
            </div>
          </div>
          <div class="message-group">
            <div class="message-container receiver">
              <div class="message-content">
                <p>message 3</p>
                <div class="message-time">12:30</div>
              </div>
              <img class="message-profile" src="/Pictures/profile-default.webp" alt="Receiver Profile" />
            </div>
          </div>
        </div>
        <form class="chat-form">
          <textarea placeholder="Type your message here..."></textarea>
          <button type="submit">
            <i class="ri-send-plane-line"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/chat.js"></script>
</body>
</html>