<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Feed</title>
  <link rel="stylesheet" href="/Pictures/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="feed-header-container">
    <h2 class="section-title feed-heading">Welcome, <%= username %>!</h2>
  </div>
  <div class="feed-container">
    <div class="sidebar">
      <hr class="hidden">
      <p class="section-title sidebar-feed-title">New Users</p>
      <div class="new-users">
        <% for (var i = 0; i < 10; i++) { %>
          <div class="user-skeleton">
            <div class="avatar-skeleton"></div>
            <div class="username-skeleton"></div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="main-content">
      <div class="post-col">
        <% for (var i = 0; i < 10; i++) { %>
          <div class="post-skeleton">
            <div class="post-header">
              <div class="avatar-skeleton"></div>
              <div class="username-skeleton"></div>
            </div>
            <div class="post-content-skeleton">
              <div class="title-skeleton"></div>
              <div class="body-skeleton"></div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
  <div id="imageModal" class="modal">
    <span class="close" onclick="closeImageModal()">&times;</span>
    <img class="modal-content" id="fullImage">
  </div>
  <script src="/js/home-feed.js" defer></script>
  <script src="/js/feed.js" defer></script>
</body>
<%- include('partials/footer') %>
</html>