<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
	<link rel="stylesheet" href="/styles/index.css">
	<title>Poster</title>
</head>
<%- include('partials/header') %>

	<body>
		<section class="grid" id="welcome">
			<div class="welcome-text">
				<h1>Social Media Reimagined</h1>
				<p class="leading">Poster is designed to revolutionize social media. In an era where content sharing and
					community building are vital, Poster offers a user-focused platform that prioritizes your control and privacy.
					No ads, full data ownership, and multi-platform support for web and mobile.</p>
					<p>Ready to experience social
						media differently?</p>
				<div class="register-login-container">
					<a href="/register" class="button">Register</a>
					<a href="/login" class="button">Login</a>
				</div>
			</div>
			<div class="welcome-img">
				<img src="Pictures/hubicon.png" alt="pic of planet">
			</div>
		</section>

		<section id="portfolio">
			<canvas id="glCanvas"></canvas>
			<script src="/js/shader.js"></script>
			<h3>Our Projects</h3>
			<div class="projects grid">
				<a href="templefile.html">
					<img src="Pictures/MUSIC.png" alt="music">
					<h4>Discover and Share Your Favorite Music</h4>
				</a>
				<a href="templefile.html">
					<img src="Pictures/MOVIES.png" alt="movies">
					<h4>Engage with Movie Lovers and Communities</h4>
				</a>
				<a href="templefile.html">
					<img src="Pictures/PODCASTS.png" alt="podcasts">
					<h4>Connect Through Thought-Provoking Podcasts</h4>
				</a>
			</div>
		</section>

		<%- include('partials/footer') %>
	</body>

</html>